name: exercice2

on:
  push:
    branches: [main]

jobs:
  exo2:
    runs-on: ubuntu-latest
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4
      
      - name: Installer Node.jobs
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Installer les dépendances
        run: npm install
        
      - name: Lancer les tests
        run: npm test